<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>controller.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/authenticateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>controller.logoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bootstrapServlet</servlet-name>
		<servlet-class>controller.bootstrapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bootstrapServlet</servlet-name>
		<url-pattern>/admin/bootstrap</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewMemberServlet</servlet-name>
		<servlet-class>controller.AddNewMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewMemberServlet</servlet-name>
		<url-pattern>/admin/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<servlet-class>controller.DeleteMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<url-pattern>/admin/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditMemberServlet</servlet-name>
		<servlet-class>controller.EditMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditMemberServlet</servlet-name>
		<url-pattern>/admin/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewIngredientServlet</servlet-name>
		<servlet-class>controller.AddNewIngredientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewIngredientServlet</servlet-name>
		<url-pattern>/admin/addIngredient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GamePlayServlet</servlet-name>
		<servlet-class>controller.GamePlayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GamePlayServlet</servlet-name>
		<url-pattern>/game/validateMove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuitGameServlet</servlet-name>
		<servlet-class>controller.QuitGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuitGameServlet</servlet-name>
		<url-pattern>/game/quitGame</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewHighScoreServlet</servlet-name>
		<servlet-class>controller.AddNewHighScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewHighScoreServlet</servlet-name>
		<url-pattern>/game/addNewScore</url-pattern>
	</servlet-mapping>
</web-app>